---
import config from "../config";
import { twMerge } from "tailwind-merge";
import { client } from "../lib";

type Props = {
  className?: string;
};

const { className } = Astro.props;
const allCategories = await client.getAllCategories()
---

<nav class={twMerge("", config.nav?.classes, className)}>
  <!-- <div
    class="max-w-5xl mx-auto px-3 py-3 flex items-center justify-between h-16"
  >
    <a
      href={getUrl("/")}
      class:list={["text-xl title", config.nav?.titleClasses]}
      >{database.title}</a
    >
  </div> -->
  <ul class="text-[16px]/[1.25] flex items-center">
    { allCategories.map((cat) => {
        return (
          <li class="flex justify-center items-center">
            <a href={`/category/${cat}/`} class="px-4 py-2.5">
              {cat}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style
  define:vars={{
    titleFontFamily: config.nav?.titleFontFamily || "inherit",
  }}
>
  .title {
    font-family: var(--titleFontFamily);
  }
</style>
