---
import type { Tag } from "../lib";

export type Props = {
  tags: Tag[];
  base?: string;
};

const { tags, base = "" } = Astro.props;
---

{
  tags.length === 0 ? null : (
    <div class="flex space-x-2">
      {tags.map((tag) => (
        <a
          href={`${base}/tags/${tag.name}/`}
          class="pointer-events-auto hover:underline"
        >
          #{tag.name}
        </a>
      ))}
    </div>
  )
}
